@import url("https://use.typekit.net/bzn6gfe.css");

* {
  font-family: articulat-cf, sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.navlink.active {
  color: #FC814A;
  font-weight: 900;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlogo {
  width: 7vw;
  height: 7vh;

  padding: 1em;

  background: none;

  transition: transform 500ms ease;
}

.navlinks {
  font-weight: 600;
  font-size: clamp(1.5rem, 3vw, 1.5rem);
}

.navlink {
  padding: 2em;
  
  text-decoration: none;

  color: inherit;

  transition: opacity 500ms ease;
}

.navlinks:hover > .navlink {
  opacity: 0.3;
}

.navlinks:hover > .navlink:hover {
  opacity: 1;
}

.navlogo:hover {
  transform: scale(1.05);
}

/* Home Styles */

.container {
  position: absolute;
  left: 16vw;

  height: 50vh;
  width: 70vw;
}

.container-info {
  position: absolute;
  bottom: 0;
}

.home-title {
  font-size: clamp(4rem, 8vw, 4rem);
  font-weight: 100;
  margin-bottom: 0;

  color: #2F2F2F;
}

.home-stitle {
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 300;

  color: #2F2F2F;
}

/* About Styles */

.container-about {
  position: absolute;
  left: 16vw;

  height: 20vh;
  width: 70vw;
}

.about-title {
  font-size: clamp(4rem, 8vw, 4rem);
  font-weight: 100;
  margin-bottom: 0;

  color: #2F2F2F;

  border-bottom: 2px solid #2F2F2F;
}

/* Project Styles */

.container-proj {
  position: absolute;
  left: 16vw;

  height: 90vh;
  width: 70vw;

  padding: 1em;
}

.proj-title {
  font-size: clamp(4rem, 8vw, 4rem);
  font-weight: 100;
  margin-bottom: 0;

  color: #2F2F2F;

  border-bottom: 2px solid #2F2F2F;
}

.project {
  position: relative;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2.5vw;
  height: 20vh;
  width: 30vw;

  float: left;

  background-color: #EFF2EF;
  border: 2px solid #2F2F2F;
  border-radius: 5px;

  transition: transform 500ms ease, box-shadow 500ms ease;
}

.pb-title {
  padding: 0.2em;
  margin-top: 10vh;
  font-size: clamp(1.5rem, 3vw, 1.5rem);
  font-weight: 200;

  color: #2F2F2F;
}

.pb-description {
  padding: 0.2em;
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 300;

  color: #2F2F2F;
}

.project:hover {
  transform: scale(1.35);
  box-shadow: 7px 7px 0px 0px #FC814A;
  z-index: 1;
}