@import url("https://use.typekit.net/bzn6gfe.css");

* {
  font-family: articulat-cf, sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}

body {
  background-color: #EFF2EF;
}

.navlink.active {
  color: #FC814A;
  text-decoration: underline;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlogo {
  width: 10vw;
  height: 10vh;

  padding: 1em;

  background: none;

  transition: transform 500ms ease;
}

.navlinks {
  font-weight: 600;
  font-size: clamp(1.5rem, 3vw, 1.5rem);
}

.navlink {
  padding: 2em;
  
  text-decoration: none;

  color: inherit;

  transition: opacity 500ms ease;
}

.navlinks:hover > .navlink {
  opacity: 0.3;
}

.navlinks:hover > .navlink:hover {
  opacity: 1;
}

.navlogo:hover {
  transform: scale(1.05);
}