@import url("https://use.typekit.net/bzn6gfe.css");

* {
  font-family: articulat-cf, sans-serif;
  font-style: normal;
  padding: 0;
  margin: 0;
}

.navlink.active {
  color: #FC814A;
}

/* Navbar Styles */

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navlogo {
  width: 7vw;
  height: 7vh;

  padding: 1em;

  background: none;

  transition: transform 500ms ease;
}

.navlinks {
  font-weight: 600;
  font-size: clamp(1.5rem, 3vw, 1.5rem);
}

.navlink {
  padding: 2em;
  
  text-decoration: none;

  color: inherit;

  transition: opacity 500ms ease;
}

.navlinks:hover > .navlink {
  opacity: 0.3;
}

.navlinks:hover > .navlink:hover {
  opacity: 1;
}

.navlogo:hover {
  transform: scale(1.05);
}

/* Home Styles */

.container {
  position: absolute;
  left: 16vw;

  height: 50vh;
  width: 70vw;
}

.container-info {
  position: absolute;
  bottom: 0;
}

.home-title {
  font-size: clamp(4rem, 8vw, 4rem);
  font-weight: 100;
  margin-bottom: 0;

  color: #2F2F2F;

  animation: 1s ease 0s 1 slideInFromRight;
}

.home-stitle {
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 300;

  color: #2F2F2F;

  animation: 1s ease 0s 1 slideInFromRight;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(-200%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(300%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* About Styles */

.container-about {
  position: absolute;
  left: 16vw;

  height: 20vh;
  width: 70vw;
}

.about-title {
  font-size: clamp(4rem, 8vw, 4rem);
  font-weight: 100;
  margin-bottom: 0;

  color: #2F2F2F;

  border-bottom: 2px solid #2F2F2F;
}

.about-stitle {
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 300;

  color: #2F2F2F;

  animation: 1s ease 0s 1 slideInFromTop;
}

.info-dropdown {
  text-decoration: none;
  color: #2F2F2F;
  font-weight: 900;
}

.info-dropdown:hover {
  color: #FC814A;
}

/* Project Styles */

.container-proj {
  position: absolute;
  left: 16vw;

  height: 90vh;
  width: 70vw;

  padding: 1em;
}

.proj-title {
  font-size: clamp(4rem, 8vw, 4rem);
  font-weight: 100;
  margin-bottom: 0;

  color: #2F2F2F;

  border-bottom: 2px solid #2F2F2F;
}

.proj-stitle {
  font-size: clamp(1rem, 2vw, 1rem);
  font-weight: 300;

  color: #2F2F2F;

  animation: 1s ease 0s 1 slideInFromTop;
}

.project {
  position: relative;
  margin-top: 2vh;
  margin-left: 2vw;
  margin-right: 2.5vw;
  height: 20vh;
  width: 30vw;

  float: left;

  border-radius: 10px;

  overflow: hidden;
  text-decoration: none;

  filter: grayscale(100%);

  transition: transform 700ms ease, box-shadow 500ms ease, opacity 500ms ease, filter 500ms ease;
}

.pb-title {
  position: relative;
  z-index: 1;
  padding: 0.2em;
  margin-top: 10vh;
  font-size: clamp(1.5rem, 3vw, 1.5rem);
  font-weight: 900;

  color: #EFF2EF;
  text-shadow: 1px 1px #2F2F2F;
}

.pb-description {
  position: relative;
  z-index: 1;
  padding: 0.2em;
  font-size: clamp(0.8rem, 1vw, 0.8rem);
  font-weight: 700;

  color: #EFF2EF;
  text-shadow: 1px 1px #2F2F2F;
}

.pbox-img {
  display: block;
  position: absolute;
  top: -5vh;
  left: 0;
  right: 0;

  width: 100%;

  z-index: 0;
}

.projects:hover > .project {
  opacity: 0.3;
}

.projects:hover > .project:hover {
  opacity: 1;
  transform: scale(1.3);
  z-index: 2;
  filter: none;
  box-shadow: 0px 0px 10px 1px #2F2F2F;
}